<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="esmesim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <esmesim.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value>juan</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>3com</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>192.168.21.169</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>9090</value>
            </setting>
            <setting name="AddressRange" serializeAs="String">
                <value>8888,9999</value>
            </setting>
            <setting name="SystemType" serializeAs="String">
                <value>SMS</value>
            </setting>
            <setting name="BindMode" serializeAs="String">
                <value>Receiver</value>
            </setting>
            <setting name="LastPhoneNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="DataCoding" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Gsm7bitPacking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerDataCoding" serializeAs="String">
                <value>Default</value>
            </setting>
        </esmesim.Properties.Settings>
    </userSettings>
</configuration>